.search-bar-container {
  display: flex;
  justify-content: center; /* Vaakasuuntainen keskitys */
  align-items: center; /* Pystysuuntainen keskitys */
  width: 100%; /* leveys */
  margin-top: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-input {
	color: black;
	padding: 8px;
	width: 200px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.search-button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .search-bar {
    flex-direction: column;
    gap: 5px;
  }

  .search-input {
    width: 100%;
  }

  .search-button {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .search-input {
    padding: 6px;
    width: 100%;
  }

  .search-button {
    padding: 6px 10px;
    width: 100%;
  }
}